# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [3]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified | The flight schedule was dela...
1  ✅ Trip Verified | The worst experience in all ...
2  ✅ Trip Verified |  The worst experience in all...
3  ✅ Trip Verified |  Terrible delays. Had to reb...
4  ✅ Trip Verified |  A serious medical problem a...

In [4]:
df.to_csv("BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [5]:
df

                                               reviews
0    ✅ Trip Verified | The flight schedule was dela...
1    ✅ Trip Verified | The worst experience in all ...
2    ✅ Trip Verified |  The worst experience in all...
3    ✅ Trip Verified |  Terrible delays. Had to reb...
4    ✅ Trip Verified |  A serious medical problem a...
..                                                 ...
995  ✅ Trip Verified |  London to Amsterdam. A dela...
996  ✅ Trip Verified |  Gatwick to Barcelona . Chec...
997  ✅ Trip Verified |  I thought it time BA deserv...
998  ✅ Trip Verified |  Faro to Gatwick. Club check...
999  ✅ Trip Verified |  Gatwick to Faro. Club check...

[1000 rows x 1 columns]

In [6]:
data = pd.DataFrame()
data['reviews'] = df.reviews.str.split('|',expand=True)[1]
print(data)

                                               reviews
0     The flight schedule was delayed for one hour....
1     The worst experience in all my years of trave...
2      The worst experience in all my years of trav...
3      Terrible delays. Had to rebook our domestic ...
4      A serious medical problem appeared while I w...
..                                                 ...
995    London to Amsterdam. A delayed BA flight by ...
996    Gatwick to Barcelona . Check in efficient an...
997    I thought it time BA deserved some complimen...
998    Faro to Gatwick. Club check in was fairly qu...
999    Gatwick to Faro. Club check in at Gatwick is...

[1000 rows x 1 columns]

## Cleaning the Reviews Data

In [7]:
def clean_text(text):
    # Convert to lowercase
    text = text.lower()
    # Replace non-alphabetic characters with a space
    text = re.sub('[^a-z]+', ' ', str(text))
    # Remove extra whitespace
    text = re.sub('\s+', ' ', text).strip()
    return text

In [8]:
data['Cleaned_Reviews'] = data['reviews'].apply(clean_text)

In [9]:
data

,reviews,Cleaned_Reviews
0,The flight schedule was delayed for one hour....,the flight schedule was delayed for one hour a...
1,The worst experience in all my years of trave...,the worst experience in all my years of travel...
2,The worst experience in all my years of trav...,the worst experience in all my years of travel...
3,Terrible delays. Had to rebook our domestic ...,terrible delays had to rebook our domestic tra...
4,A serious medical problem appeared while I w...,a serious medical problem appeared while i was...
...,...,...
995,London to Amsterdam. A delayed BA flight by ...,london to amsterdam a delayed ba flight by min...
996,Gatwick to Barcelona . Check in efficient an...,gatwick to barcelona check in efficient and fr...
997,I thought it time BA deserved some complimen...,i thought it time ba deserved some compliments...
998,Faro to Gatwick. Club check in was fairly qu...,faro to gatwick club check in was fairly quick...
999,Gatwick to Faro. Club check in at Gatwick is...,gatwick to faro club check in at gatwick is ve...

In [10]:
import nltk